 {% load static %} {% load account %}  {% load i18n %}  {% autoscape off %} 

 <center>
    <h3>{{ site_name }}</h3>
     
    <h4>Very your email ID</h4>
     <p> 
        Have we got the right email to reach out to you? To confirm that,
        please click the button below.
     </p>
     <a href="http://{{current_site}}/auth/signup-verification/{{key}}"
        target="_blank"
        rel="noopener noreferrer"
        >
        <button>Confirm my email address</button>
     </a>
     <footer>
        <div>
            <small>Thanks</small>
            <br />
            <small>Team {{site_name}}</small>
            <br />
            <small>http://{{ current_site }}</small>
        </div>
     </footer>
 </center>

 {% endautoescape %}